<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <getMediaStream>
        <processor type="Namics.Foundation.ImageProcessor.ImageProcessor, Namics.Foundation.ImageProcessor"
            patch:before="processor[@type='Sitecore.Resources.Media.ThumbnailProcessor, Sitecore.Kernel']"/>
      </getMediaStream>
      <renderField>
        <processor type="Sitecore.Pipelines.RenderField.GetImageFieldValue, Sitecore.Kernel">
          <patch:attribute name="type">Namics.Foundation.ImageProcessor.GetImageFieldValue, Namics.Foundation.ImageProcessor</patch:attribute>
        </processor>
      </renderField>
    </pipelines>
  </sitecore>
</configuration>